<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script src="../common/angular.min.js"></script>
</head>
<body>
<div>

    <p>angularjs----->query</p>
    <div ng-controller="firstController">
        {{isArray}}
        <!--大写-->
        {{name | uppercase}}
        {{name1}}
    </div>

</div>
<script type="text/javascript">
    var app = angular.module("myApp", []);
    app.controller("firstController", function ($scope, $timeout) {
        $scope.name = "abc";
        $scope.arr = [1, 2, 3];
        $scope.isArray = angular.isArray($scope.name);
        //大写
        $scope.name1 = angular.uppercase($scope.name);

        //继承
        $scope.a = {name: "21321312"};
        $scope.b = {age: 12};
        /* angular.extend($scope.b,$scope.a);
         console.log($scope.b);*/

        //json转成字符串
        var json = {name: "soaryang", age: 12};
        console.log(angular.toJson(json));

        //字符串转json
        var strJson = '{"name":"soaryang","age":"12"}';
        console.log(angular.fromJson(strJson));

        //把a变成b
        angular.copy($scope.b, $scope.a);
        console.log($scope.a);
        console.log($scope.b);


        var result = [];
        $scope.myArray = {"name": "soaryang", "age": "12"};
        angular.forEach($scope.myArray, function (key, value) {
            console.log(key + "," + "value");
            var object = {}
            object.key = key;
            object.value = value;
            this.push(object);
        }, result);
        console.log(result);


        //-------------------------------------------------------------------
        //绑定对象作为上下
        var person = {name: "miss zhang"};
        var personFun = angular.bind(person, function (age) {
            person.age = age;
            console.log(person);
        });
        personFun(20);


        var personFun2 = angular.bind(person, function (age) {
            person.age = age;
            console.log(person);
        },50);
        personFun2();
        ///---------------------------------------------------------------------


        //bootstrap



    });

</script>
</body>

</body>
</html>