<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div ng-controller="firstController">
    <input type="text" ng-model="yourname" />
    <p ng-bind="yourname"/>
</div>

<div ng-controller="firstController2">
    <input type="text" ng-model="yourname" />
    <p ng-bind="yourname"/>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('firstController', function ($scope,$rootScope) {
        $scope.yourname="2222";
    });

    app.controller('firstController2', function ($scope,$rootScope) {
        //$scope.yourname="2222";
    });
</script>

</body>
</html>




