<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script src="../common/angular.min.js"></script>
</head>
<body>
<div>
    <p>$watch----->监听model变化</p>
    <div ng-controller="firstController">
        <p>价格:<input type="text" ng-model="iphone.price"/></p>
        <p>个数:<input type="text" ng-model="iphone.num"/></p>
        <p>费用:<span>{{ sum()|currency:'￥' }}</span></p>
        <p>运费:<span>{{iphone.free|currency:'￥'}}</span></p>
        <p>总额:<span>{{sum()+iphone.free|currency:'￥'}}</span></p>
    </div>
</div>
<script type="text/javascript">
    var app = angular.module("myApp", []);
    app.controller("firstController", function ($scope) {
        $scope.iphone = {
            price: 5000,
            num: 1,
            free: 20
        }

        $scope.sum = function () {
            return $scope.iphone.price * $scope.iphone.num + $scope.iphone.free;
        }


        $scope.$watch($scope.sum, function (newValue, oldValue) {
            console.log(newValue + "," + oldValue);

            $scope.iphone.free = newValue > 1000 ? 0 : 10;
        })
    });

</script>
</body>

</body>
</html>