<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script src="../common/angular.min.js"></script>
</head>
<body>
<div>

    <p>angularjs $apply  $watch</p>
    {{sex}}

    <div ng-controller="firstController">
        <p ng-bind="name" ></p>
    </div>
</div>
<script type="text/javascript">
    var app = angular.module("myApp", []);
    app.controller("firstController",function ($scope,$timeout) {


        /**settimeout是javascript提供的方法 使用Javascript提供的方法 必须使用 $apply*/
        setTimeout(function () {
            $scope.$apply(function () {
                $scope.name = "1秒之后";
            });
        },1000);

        /**$timeout为angularjs内置方法*/
        $timeout(function () {
            $scope.name = "5秒之后";
        },5000);

        $scope.name = "1秒之前";


    });

</script>
</body>

</body>
</html>