<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div ng-controller="firstController">
    <input type="text" ng-model="yourname"/>

    <p ng-bind="yourname"/>
</div>

<script>
    var app = angular.module('myApp', []);
    app.factory("myFactory", function () {
        var service = {
            user: {},
            setName: function (name) {
                service.user.name = name;
            },
            setAge: function (age) {
                service.user.age = age;
            },
            toString:function(){
                return service.user.name+","+service.user.age;
            }
        };
        return service;
    });
    app.controller("firstController",function($scope,myFactory){
        myFactory.setName("soaryang");
        myFactory.setAge(12);
        $scope.yourname = myFactory.toString();
    });
</script>

</body>
</html>




