<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div ng-controller="firstController">
    <input type="text" ng-model="yourname"/>

    <p ng-bind="yourname"/>
</div>

<div ng-controller="firstController2">
    <input type="text" ng-model="yourname"/>

    <p ng-bind="yourname"/>
</div>


<div ng-controller="firstController3">
    <input type="text" ng-model="yourname"/>

    <p ng-bind="yourname"/>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('firstController', function ($scope, $http) {
        //$scope.yourname="2222";
        $http.get("http://www.baidu.com").success(function (data) {
            console.log(data);
        }).error(function (error) {
            console.log(error);
        });
    });

    /*app.controller('firstController2', function ($scope, $http) {
        $http.post("http://www.baidu.com",{data:"222"}).success(function (data) {
            console.log(data);
        }).error(function (error) {
            console.log(error);
        });
    });*/

    app.controller('firstController3', function ($scope, $http) {
        var url ="http://www.phonegap100.com/appapi.php?a=getPortalList&catid=20&page=1&callback=JSON_CALLBACK";
        $http.get(url).success(function (data) {
            console.log("your data:"+data);
        }).error(function (error) {
            console.log(error);
        });
    });


</script>

</body>
</html>




