<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div ng-controller="firstController">
    <input type="text" ng-model="yourname"/>

    <p ng-bind="yourname"/>
</div>


<script>
    var app = angular.module('myApp', []);
    app.service("myService", [function ($http,$scope) {
        this.myFun = function (x) {
            return 2 * x;
        }
    }]);

    app.controller("firstController", function ($scope, myService) {
        $scope.yourname = myService.myFun(222);
    });
</script>

</body>
</html>




