<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script src="../common/angular.min.js"></script>
</head>
<body>
<div>

    <p>angularjs run 方法（全局）</p>
    {{sex}}
</div>
<script type="text/javascript">
    var app = angular.module("myApp", []);
    app.run(['$rootScope',function ($rootScope) {
        $rootScope.sex = "2222"
    }]);
</script>
</body>

</body>
</html>