<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>
    <script src="angular.min.js"></script>
</head>
<body>
<div>
    <input type="text" ng-model="yourname"/>
    <p ng-bind="yourname"></p>
</div>
<div ng-controller="firstController">
    <p ng-bind="first"></p>
</div>

<div ng-controller="secondController">
    <p ng-repeat="x in person">{{x}}</p>
</div>
<script type="text/javascript">
    var app = angular.module("myApp",[]);
    app.controller("firstController",function ($scope) {
        $scope.first = "2222";
    });
    app.controller("secondController",function ($scope) {
        $scope.person = [1,2];
    });

</script>

</body>
</html>