<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="angular.min.js"></script>

</head>
<body>
<div ng-controller="sessionController">
    <input type="text" ng-model="addValue"><input type="button" value="添加" ng-click="add(addValue)"/>
    <br/>
    <table style="width:1000px;">
        <tr ng-repeat="x in names">
            <td>{{ x.message }}</td>
            <td><input type="button" value="删除" ng-click="delete(x)"/></td>
        </tr>
    </table>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('sessionController', function ($scope) {
        var array = [];
        for (var i = 0; i < 5; i++) {
            var object = {};
            object.message = "Name" + i;
            array.push(object);
        }
        $scope.names = array;

        $scope.add = function(addValue){
            var object = {};
            object.message = addValue;
            $scope.names.push(object);
        };

        $scope.delete=function(object){   //删除一行的内容
            $scope.names.splice($scope.names.indexOf(object),1);
        };
    });
</script>
</body>
</html>




