<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="angular.min.js"></script>
</head>
<body>
<div ng-controller="sessionController">
    <input type="text" ng-model="bindMessage"/>
</div>

<script type="text/javascript">
    var ws;
    var app = angular.module("myApp", []);
    app.service("myService", function ($rootScope) {
        var ws = new WebSocket("ws://10.2.0.196:9090/ws");
        var service = {};
        var message = "";
        ws.onopen = function () {
            console.log("连接上了服务器!");
            ws.send("32232332");
        }
        ws.onclose = function () {
            console.log('连接被关闭.');
        };

        ws.onerror = function (error) {
            console.error("客户端发生异常:" + error);
        };
        ws.onmessage = function (event) {
            console.log("收到的数据" + event.data);
            var object = event.data;
            if (object.type == "login") {
                ws.send("2323323223");
            } else {
                console.log(object);
                $rootScope.$apply(function () {
                    $rootScope.bindMessage = object;
                })
            }
        }
    });
    app.controller("sessionController", function ($scope, myService) {
    });
</script>
</body>
</html>




